/* Variables color */

:root {
  --backgroundColor: #96bb7c;
  --primaryColor: #184d47;
  --tertiaryColor: #d6efc7;
  --fourthColor: #fad586;
}

/* Variables font */
:root {
  --fontText: 'Nunito', sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontText);
  color: var(--primaryColor);
}

.page-container {
  margin-top: 100px;
}

.navbar {
  background-color: var(--backgroundColor);
}

.navbar-brand {
  font-size: 2.25rem;
}

a {
  color: var(--primaryColor);
  font-weight: 700;
}

a:hover {
  color: var(--primaryColor);
}

ul {
  background-color: var(--tertiaryColor);
  border: 5px solid var(--primaryColor);
  width: 60%;
  margin: 0 auto;
}

.list-group {
  min-width: 300px;
}

.list-group-item {
  background-color: transparent;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: var(--primaryColor);
  color: var(--fourthColor);
  padding: 10px;
}

.btn:hover {
  color: var(--fourthColor);
  opacity: 0.8;
}

.loadingImage {
  display: none;
  margin: 150px;
  align-self: center;
  box-sizing: border-box;
  opacity: 0.5;
}
.showImg {
  display: block;
  margin-left: 32%;
  margin-top: 5%;
}

.modal-content {
  background: var(--fourthColor);
  border: 2px solid var(--primaryColor);
}

.modal-header {
  border-bottom: 1px solid var(--primaryColor);
}

.modal-footer {
  border-top: 1px solid var(--primaryColor);
}
